In [1]:
# 필요 라이브러리
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

### 데이터 불러오기

In [2]:
# esg원본 데이터 불러오기
df_esg = pd.read_csv('C:\\Users\\최가영\\Desktop\\2908_(송부용) 한국산업단지공단_ESG관련 입주업체 데이터 추출결과_송부용 (자동 저장됨).csv', encoding='cp949')
df_esg

,산업단지,업체명,기업공개,기업형태,기업상태,기업규모,업종코드,업종세세분류명,휴폐업일자,휴폐업구분,...,당기순손익_2022,부채비율_2016,부채비율_2017,부채비율_2018,부채비율_2019,부채비율_2020,부채비율_2021,부채비율_2022,수출 여부 (EU),수출 여부 (US)
0,반월국가산업단지,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,무
1,서울디지털국가산업단지,2,개인사업자,개인기업,정상,소상공인,G46593,정밀기기 및 과학기기 도매업,NaN,부가가치세 일반과세자,...,NaN,NaN,NaN,47.7072,45.5992,NaN,NaN,NaN,무,무
2,서울디지털국가산업단지,3,개인사업자,개인기업,정상,소기업,G46521,가전제품 및 부품 도매업,NaN,부가가치세 일반과세자,...,NaN,NaN,NaN,NaN,71.1168,91.2154,NaN,NaN,무,무
3,서울디지털국가산업단지,4,개인사업자,개인기업,정상,소상공인,C26410,유선 통신장비 제조업,NaN,부가가치세 일반과세자,...,NaN,137.6937,176.2988,143.3359,117.0937,441.3389,383.3639,NaN,무,무
4,서울디지털국가산업단지,5,개인사업자,개인기업,정상,소기업,C33910,간판 및 광고물 제조업,NaN,부가가치세 일반과세자,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,무
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49946,남동국가산업단지,49947,일반법인,주식회사,정상,소상공인,C20499,그 외 기타 분류 안된 화학제품 제조업,NaN,부가가치세 일반과세자,...,NaN,NaN,-1108.0110,-379.8810,1151.7909,799.7616,1352.5201,NaN,무,무
49947,시화국가산업단지,49948,일반법인,주식회사,정상,소기업,C29229,기타 가공 공작기계 제조업,NaN,부가가치세 일반과세자,...,NaN,NaN,NaN,NaN,NaN,-1003.1227,779.3547,NaN,무,무
49948,울산미포국가산업단지,49949,일반법인,주식회사,정상,소기업,C23999,그 외 기타 분류 안된 비금속 광물제품 제조업,NaN,부가가치세 일반과세자,...,NaN,NaN,NaN,NaN,NaN,74.0360,NaN,NaN,무,무
49949,반월국가산업단지,49950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,무
49950,국가식품클러스터국가산업단지,49951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,무

### 열 삭제

In [3]:
# 필요없는 열 제거
df_esg.drop(['기업공개',
'기업형태', 
'휴폐업일자', 
'휴폐업구분', 
'휴폐업사유', 
'생년', 
'대표자연령', '수출액_2016', '수출액_2017', '수출액_2018', '수출액_2019', '수출액_2020', '수출액_2021', 
'수출액_2022', '매출액_2022_1분기', '매출액_2022_2분기', '매출액_2022_3분기', '매출액_2022_4분기', 
'영업이익_2022', '매출액_2022', '종사자수_2022', '연구개발비_2022', '당기순손익_2022', '부채비율_2022', '벤처여부',
'이노비즈여부', 
'메인비즈여부', 
'기업부설연구소여부', 
'연구개발전담부서여부', 
'특허수', 
'실용신안수', '디자인수', '상표수', '연구개발비_2016', '연구개발비_2017', 
'연구개발비_2018', '연구개발비_2019', '연구개발비_2020', '연구개발비_2021', '당기순손익_2016',
'당기순손익_2017', 
'당기순손익_2018', 
'당기순손익_2019', 
'당기순손익_2020', 
'당기순손익_2021', 
'부채비율_2016', '부채비율_2017', '부채비율_2018', '부채비율_2019', 
'부채비율_2020', '부채비율_2021', '주요제품'], axis=1, inplace=True)
df_esg.columns

Index(['산업단지', '업체명', '기업상태', '기업규모', '업종코드', '업종세세분류명', '시도', '시군구',
       '종사자수_2016', '종사자수_2017', '종사자수_2018', '종사자수_2019', '종사자수_2020',
       '종사자수_2021', '매출액_2016', '매출액_2017', '매출액_2018', '매출액_2019', '매출액_2020',
       '매출액_2021', '매출액_2020_1분기', '매출액_2020_2분기', '매출액_2020_3분기',
       '매출액_2020_4분기', '매출액_2021_1분기', '매출액_2021_2분기', '매출액_2021_3분기',
       '매출액_2021_4분기', '영업이익_2016', '영업이익_2017', '영업이익_2018', '영업이익_2019',
       '영업이익_2020', '영업이익_2021', '수출 여부 (EU)', '수출 여부 (US)'],
      dtype='object')

In [4]:
# null값 전체확인
a = df_esg.isnull().sum()
for i in range(len(a)):
    print(a.index[i], a[i])

산업단지 0
업체명 0
기업상태 7903
기업규모 12588
업종코드 11212
업종세세분류명 11212
시도 8766
시군구 8784
종사자수_2016 41990
종사자수_2017 41511
종사자수_2018 41037
종사자수_2019 36250
종사자수_2020 38678
종사자수_2021 39368
매출액_2016 28064
매출액_2017 26371
매출액_2018 24026
매출액_2019 23207
매출액_2020 23823
매출액_2021 29336
매출액_2020_1분기 35911
매출액_2020_2분기 36303
매출액_2020_3분기 36655
매출액_2020_4분기 36617
매출액_2021_1분기 37353
매출액_2021_2분기 38352
매출액_2021_3분기 39268
매출액_2021_4분기 39882
영업이익_2016 28064
영업이익_2017 26371
영업이익_2018 24026
영업이익_2019 23207
영업이익_2020 23823
영업이익_2021 29336
수출 여부 (EU) 0
수출 여부 (US) 0

In [5]:
# 전처리 전 매출액 결측치 확인
esg20_before = df_esg['매출액_2020'].isnull().sum()
esg21_before = df_esg['매출액_2021'].isnull().sum()

print(esg20_before)
print(esg21_before)

23823
29336

### 기업규모랑 기업상태 결측치 제거

In [6]:
df_esg = df_esg.dropna(subset = ['기업규모'], axis = 0)
df_esg = df_esg.dropna(subset = ['기업상태'], axis = 0)
df_esg

,산업단지,업체명,기업상태,기업규모,업종코드,업종세세분류명,시도,시군구,종사자수_2016,종사자수_2017,...,매출액_2021_3분기,매출액_2021_4분기,영업이익_2016,영업이익_2017,영업이익_2018,영업이익_2019,영업이익_2020,영업이익_2021,수출 여부 (EU),수출 여부 (US)
1,서울디지털국가산업단지,2,정상,소상공인,G46593,정밀기기 및 과학기기 도매업,서울,금천구,NaN,NaN,...,NaN,NaN,NaN,18778.0,25465.0,20958.0,NaN,NaN,무,무
2,서울디지털국가산업단지,3,정상,소기업,G46521,가전제품 및 부품 도매업,서울,구로구,NaN,NaN,...,NaN,NaN,NaN,NaN,52896.0,39861.0,37578.0,NaN,무,무
3,서울디지털국가산업단지,4,정상,소상공인,C26410,유선 통신장비 제조업,서울,종로구,NaN,NaN,...,NaN,NaN,0.0,30269.0,65966.0,74260.0,119094.0,47855.0,무,무
4,서울디지털국가산업단지,5,정상,소기업,C33910,간판 및 광고물 제조업,서울,금천구,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-60374.0,NaN,무,무
5,서울디지털국가산업단지,6,정상,소상공인,C22291,플라스틱 접착처리 제품 제조업,서울,금천구,NaN,NaN,...,NaN,NaN,NaN,73394.0,106232.0,78681.0,87417.0,NaN,무,무
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49944,한국수출산업(부평)국가산업단지,49945,정상,소기업,M72111,건축설계 및 관련 서비스업,인천,부평구,NaN,NaN,...,190359998.0,186615449.0,0.0,91706.0,52060.0,-11293.0,85447.0,34153.0,무,무
49945,서울디지털국가산업단지,49946,정상,소상공인,J58221,시스템 소프트웨어 개발 및 공급업,서울,금천구,NaN,NaN,...,NaN,NaN,NaN,305317.0,104047.0,554395.0,640958.0,6806590.0,무,무
49946,남동국가산업단지,49947,정상,소상공인,C20499,그 외 기타 분류 안된 화학제품 제조업,인천,남동구,NaN,NaN,...,NaN,NaN,0.0,-61707.0,-94669.0,204261.0,10073.0,-50354.0,무,무
49947,시화국가산업단지,49948,정상,소기업,C29229,기타 가공 공작기계 제조업,경기,시흥시,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-32377.0,5139.0,50092.0,무,무
49948,울산미포국가산업단지,49949,정상,소기업,C23999,그 외 기타 분류 안된 비금속 광물제품 제조업,울산,남구,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-553146.0,-2533261.0,NaN,무,무

### 기업규모 전처리
#### 판단제외 제거 후 대기업/중견기업/중소기업 3가지로 나누기

In [7]:
# 기업규모 내용확인
df_esg['기업규모'].value_counts()

소상공인        16415
소기업         15167
중기업          4435
중견기업          688
대기업           287
보호대상중견기업      206
한시성중소기업        87
판단제외           78
Name: 기업규모, dtype: int64

In [8]:
# 판단제외 제거
idx_nm_1 = df_esg[(df_esg['기업규모'] == '판단제외')].index
df_esg = df_esg.drop(idx_nm_1)

In [9]:
# 제거확인
df_esg['기업규모'].value_counts()

소상공인        16415
소기업         15167
중기업          4435
중견기업          688
대기업           287
보호대상중견기업      206
한시성중소기업        87
Name: 기업규모, dtype: int64

In [10]:
# 중견기업, 보호대상중견기업 -> 중견기업
df_esg.loc[df_esg['기업규모'] == '보호대상중견기업', '기업규모'] = '중견기업'

In [11]:
# 제거확인
df_esg['기업규모'].value_counts()

소상공인       16415
소기업        15167
중기업         4435
중견기업         894
대기업          287
한시성중소기업       87
Name: 기업규모, dtype: int64

In [12]:
# 중기업, 한시성중소기업, 소기업, 소상공인 -> 중소기엄
df_esg.loc[df_esg['기업규모'] == '중기업', '기업규모'] = '중소기업'
df_esg.loc[df_esg['기업규모'] == '한시성중소기업', '기업규모'] = '중소기업'
df_esg.loc[df_esg['기업규모'] == '소기업', '기업규모'] = '중소기업'
df_esg.loc[df_esg['기업규모'] == '소상공인', '기업규모'] = '중소기업'

In [13]:
# 기업규모 전처리 확인
df_esg['기업규모'].value_counts()

중소기업    36104
중견기업      894
대기업       287
Name: 기업규모, dtype: int64

### 기업상태 전처리

In [14]:
# 기업상태 내용확인
df_esg['기업상태'].value_counts()

정상       35782
폐업        1382
청산/해산       64
휴업          35
피흡수합병       22
Name: 기업상태, dtype: int64

In [15]:
# 정상만 남기기 (폐업, 청산/해산, 휴업, 피흡수합병 제거)
idx_nm_1 = df_esg[(df_esg['기업상태'] == '폐업') | (df_esg['기업상태'] == '청산/해산') | (df_esg['기업상태'] == '휴업') | (df_esg['기업상태'] == '피흡수합병')].index
df_esg = df_esg.drop(idx_nm_1)

In [16]:
# 기업상태 정상 남았는지 확인
df_esg['기업상태'].value_counts()

정상    35782
Name: 기업상태, dtype: int64

### 분기 매출액으로 년도 매출액 결측치 채우기

#### 2020

In [18]:
# 20년도 열 확인
df_esg.iloc[:,20:24]

       매출액_2020_1분기  매출액_2020_2분기  매출액_2020_3분기  매출액_2020_4분기
1               NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN
5       126359721.0           NaN           NaN           NaN
...             ...           ...           ...           ...
49944   140344224.0   143502555.0   187162990.0   111924108.0
49945    99611618.0    98914955.0    87880313.0    69342159.0
49946           NaN           NaN           NaN           NaN
49947           NaN           NaN           NaN           NaN
49948           NaN           NaN           NaN           NaN

[35782 rows x 4 columns]

In [19]:
# 2020분기별 평균값 구하기
df_esg['mean2020']=df_esg.iloc[:,20:24].mean(axis=1)
df_esg

,산업단지,업체명,기업상태,기업규모,업종코드,업종세세분류명,시도,시군구,종사자수_2016,종사자수_2017,...,매출액_2021_4분기,영업이익_2016,영업이익_2017,영업이익_2018,영업이익_2019,영업이익_2020,영업이익_2021,수출 여부 (EU),수출 여부 (US),mean2020
1,서울디지털국가산업단지,2,정상,중소기업,G46593,정밀기기 및 과학기기 도매업,서울,금천구,NaN,NaN,...,NaN,NaN,18778.0,25465.0,20958.0,NaN,NaN,무,무,NaN
2,서울디지털국가산업단지,3,정상,중소기업,G46521,가전제품 및 부품 도매업,서울,구로구,NaN,NaN,...,NaN,NaN,NaN,52896.0,39861.0,37578.0,NaN,무,무,NaN
3,서울디지털국가산업단지,4,정상,중소기업,C26410,유선 통신장비 제조업,서울,종로구,NaN,NaN,...,NaN,0.0,30269.0,65966.0,74260.0,119094.0,47855.0,무,무,NaN
4,서울디지털국가산업단지,5,정상,중소기업,C33910,간판 및 광고물 제조업,서울,금천구,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-60374.0,NaN,무,무,NaN
5,서울디지털국가산업단지,6,정상,중소기업,C22291,플라스틱 접착처리 제품 제조업,서울,금천구,NaN,NaN,...,NaN,NaN,73394.0,106232.0,78681.0,87417.0,NaN,무,무,1.263597e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49944,한국수출산업(부평)국가산업단지,49945,정상,중소기업,M72111,건축설계 및 관련 서비스업,인천,부평구,NaN,NaN,...,186615449.0,0.0,91706.0,52060.0,-11293.0,85447.0,34153.0,무,무,1.457335e+08
49945,서울디지털국가산업단지,49946,정상,중소기업,J58221,시스템 소프트웨어 개발 및 공급업,서울,금천구,NaN,NaN,...,NaN,NaN,305317.0,104047.0,554395.0,640958.0,6806590.0,무,무,8.893726e+07
49946,남동국가산업단지,49947,정상,중소기업,C20499,그 외 기타 분류 안된 화학제품 제조업,인천,남동구,NaN,NaN,...,NaN,0.0,-61707.0,-94669.0,204261.0,10073.0,-50354.0,무,무,NaN
49947,시화국가산업단지,49948,정상,중소기업,C29229,기타 가공 공작기계 제조업,경기,시흥시,NaN,NaN,...,NaN,NaN,NaN,NaN,-32377.0,5139.0,50092.0,무,무,NaN
49948,울산미포국가산업단지,49949,정상,중소기업,C23999,그 외 기타 분류 안된 비금속 광물제품 제조업,울산,남구,NaN,NaN,...,NaN,NaN,NaN,NaN,-553146.0,-2533261.0,NaN,무,무,NaN

In [20]:
# 결측치 평균으로 채우기
df_esg['매출액_2020'] = np.where(pd.notnull(df_esg['매출액_2020']) == True, df_esg['매출액_2020'], df_esg['mean2020'])

#### 2021

In [21]:
# 21년도 열 확인
df_esg.iloc[:,24:28]

       매출액_2021_1분기  매출액_2021_2분기  매출액_2021_3분기  매출액_2021_4분기
1               NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN
5               NaN           NaN           NaN           NaN
...             ...           ...           ...           ...
49944   117334890.0    87312345.0   190359998.0   186615449.0
49945           NaN           NaN           NaN           NaN
49946           NaN           NaN           NaN           NaN
49947           NaN           NaN           NaN           NaN
49948           NaN           NaN           NaN           NaN

[35782 rows x 4 columns]

In [22]:
# 2021 평균값 구하기
df_esg['mean2021']=df_esg.iloc[:,24:28].mean(axis=1)
df_esg

,산업단지,업체명,기업상태,기업규모,업종코드,업종세세분류명,시도,시군구,종사자수_2016,종사자수_2017,...,영업이익_2016,영업이익_2017,영업이익_2018,영업이익_2019,영업이익_2020,영업이익_2021,수출 여부 (EU),수출 여부 (US),mean2020,mean2021
1,서울디지털국가산업단지,2,정상,중소기업,G46593,정밀기기 및 과학기기 도매업,서울,금천구,NaN,NaN,...,NaN,18778.0,25465.0,20958.0,NaN,NaN,무,무,NaN,NaN
2,서울디지털국가산업단지,3,정상,중소기업,G46521,가전제품 및 부품 도매업,서울,구로구,NaN,NaN,...,NaN,NaN,52896.0,39861.0,37578.0,NaN,무,무,NaN,NaN
3,서울디지털국가산업단지,4,정상,중소기업,C26410,유선 통신장비 제조업,서울,종로구,NaN,NaN,...,0.0,30269.0,65966.0,74260.0,119094.0,47855.0,무,무,NaN,NaN
4,서울디지털국가산업단지,5,정상,중소기업,C33910,간판 및 광고물 제조업,서울,금천구,NaN,NaN,...,NaN,NaN,NaN,NaN,-60374.0,NaN,무,무,NaN,NaN
5,서울디지털국가산업단지,6,정상,중소기업,C22291,플라스틱 접착처리 제품 제조업,서울,금천구,NaN,NaN,...,NaN,73394.0,106232.0,78681.0,87417.0,NaN,무,무,1.263597e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49944,한국수출산업(부평)국가산업단지,49945,정상,중소기업,M72111,건축설계 및 관련 서비스업,인천,부평구,NaN,NaN,...,0.0,91706.0,52060.0,-11293.0,85447.0,34153.0,무,무,1.457335e+08,145405670.5
49945,서울디지털국가산업단지,49946,정상,중소기업,J58221,시스템 소프트웨어 개발 및 공급업,서울,금천구,NaN,NaN,...,NaN,305317.0,104047.0,554395.0,640958.0,6806590.0,무,무,8.893726e+07,NaN
49946,남동국가산업단지,49947,정상,중소기업,C20499,그 외 기타 분류 안된 화학제품 제조업,인천,남동구,NaN,NaN,...,0.0,-61707.0,-94669.0,204261.0,10073.0,-50354.0,무,무,NaN,NaN
49947,시화국가산업단지,49948,정상,중소기업,C29229,기타 가공 공작기계 제조업,경기,시흥시,NaN,NaN,...,NaN,NaN,NaN,-32377.0,5139.0,50092.0,무,무,NaN,NaN
49948,울산미포국가산업단지,49949,정상,중소기업,C23999,그 외 기타 분류 안된 비금속 광물제품 제조업,울산,남구,NaN,NaN,...,NaN,NaN,NaN,-553146.0,-2533261.0,NaN,무,무,NaN,NaN

In [23]:
# 결측치 평균으로 채우기
df_esg['매출액_2021'] = np.where(pd.notnull(df_esg['매출액_2021']) == True, df_esg['매출액_2021'], df_esg['mean2021'])

In [24]:
# 결측치 채운 후 null값 확인
esg20_after = df_esg['매출액_2020'].isnull().sum()
esg21_after = df_esg['매출액_2021'].isnull().sum()

print(esg20_after)
print(esg21_after)

10803
15005

In [25]:
# 채워진 갯수 확인
print(esg20_before - esg20_after)
print(esg21_before - esg21_after)

13020
14331

In [26]:
# csv로 저장
df_esg.to_csv("‪preprocessed_esg_final.csv", encoding= 'cp949', index = False)